!!! 5
html
	head
		title Cat Cache!
		link(rel="stylesheet", href="/css/reset.css")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/common.css")
		link(rel="stylesheet", href="/css/style.css")
		block scripts
			script(src="/js/jquery.js")
			script(src="/socket.io/socket.io.js")
			script(src="/js/common.js")
			script(src="/js/socket.js")
	body
		.center
			h1(class="font") Cat Cache!
			#slogan
				Slogan
			.input-append
				input(type="text", placeholder="Search for cats!", id="search")
				div(class="btn btn-info", id="submit", onclick="searchForKittens();") Search
			ul(class="links")
				if loggedin == "true"
					li <a href="/user/account">Account</a> -
					li <a href="/user/signout">Sign Out</a>
				else
					li <a href="/user/signup">Sign Up</a> -
					li <a href="/user/signin">Sign In</a>