/*
  ----------
  Cat Cache!
  ----------

  style.css

  © 2013 Cat Cache!
*/

@charset "Utf-8";

body {
    background-color: #FFF;
    font-family: Helvetica;
    font-size: 14px;
}

a {
    text-decoration: none;
	color: #49afcd;
}

a:hover {
    color: #AAA;
}

/*
==============================
           FONTS
==============================
*/

@font-face {
	font-family: Catcache;
	src: url('/font/CatCache.ttf');
}

/*
==============================
        TRANSITION
==============================
*/

a, ul.account a li {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

/*
==============================
          HEADERS
==============================
*/

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 0;
    font-weight: 900;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

/*
==============================
           SEARCH
==============================
*/

.center {
    text-align: center;
}

#search {
    margin-top: 10px;
    width: 300px;
}

#slogan {
    color: #AAA;
    padding: 5px;
    cursor: pointer;
}

.links li {
    display: inline-block;
}

.links {
    color: #AAA;
}

.font {
	font-family: Catcache;
	font-weight: 100;	
}

#submit {
	margin-top: 10px;
}

/*
==============================
         SIGN UP/IN
==============================
*/

.center_h {
    text-align: center;
    color: #AAA;
}

.signinup {
    display: block !important;
    width: 100%;
    padding: 10px 0px 10px 0px !important;
	text-indent: 10px;
}

.form {
	padding: 25px;
	background-color: #F9F9F9;
	width: 350px;
}

.left_hook {
    text-align: left;
}

#invalid , #invalid_passwords, #not_logged_in {
    display: none;
}

#invalid:target, #invalid_passwords:target, #not_logged_in:target {
    display: block;
}

.warning {
	border: 1px solid rgba(255, 200, 0, .9) !important;
}

.warning:focus {
	box-shadow: 0px 0px 6px rgba(255, 200, 0, .3) !important;
}

.pass {
	color: #AAA;
}

.pass hr {
	border: none;
	background-color: #CCC;
	height: 1px;
}

#time {
	padding-top: 5px;
}

/*
==============================
          ACCOUNT
==============================
*/

.wrap {
	margin: 25px auto;
	width: 800px;
	text-align: center;
}

.hold_r, .hold_l {
	background-color: #F9F9F9;
	display: inline-block;
}

.hold_r {
	width: 500px;
	padding: 25px;
}

.hold_l {
	width: 249px;
	height: 485px;
	float: right;
	border-left: 1px solid #EEE;
}

.tiny {
	font-size: 12px;
	font-weight: 100;
}

ul.account {
	
}

ul.account a li {
	color: #333;
	font-weight: 900;
	padding: 20px 10px;
	border-bottom: 1px solid #EEE;
}

ul.account a li:hover {
	background-color: #F6F6F6;
}