/*
  ----------
  Cat Cache!
  ----------

  style.css

  © 2013 Cat Cache!
*/

@charset "UTF-8";

a {
    color: #49afcd;
}

a:hover {
    color: #AAA;
}

/*
==============================
           SEARCH
==============================
*/

.center {
    text-align: center;
}

#search {
    margin-top: 10px;
    width: 300px;
}

#slogan {
    color: #AAA;
    padding: 5px;
    cursor: pointer;
}

.links li {
    display: inline-block;
}

.links {
    color: #AAA;
}

.font {
	font-family: Catcache;
	font-weight: 100;	
}

#submit {
	margin-top: 10px;
}

/*
==============================
         SIGN UP/IN
==============================
*/

.center_h {
    text-align: center;
    color: #AAA;
}

.signinup {
    display: block !important;
    width: 300px;
    padding: 10px !important;
}

.form {
    background-color: #F9F9F9;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 5px #DDD;
}

.left_hook {
    text-align: left;
}

#invalid , #invalid_passwords {
    display: none;
}

#invalid:target, #invalid_passwords:target {
    display: block;
}

.warning {
	border: 1px solid rgba(255, 200, 0, .9) !important;
}

.warning:focus {
	box-shadow: 0px 0px 6px rgba(255, 200, 0, .3) !important;
}

.pass {
	color: #AAA;
}

.pass hr {
	border: none;
	background-color: #CCC;
	height: 1px;
}

#time {
	padding-top: 5px;
}

/*
==============================
          ACCOUNT
==============================
*/

.wrap {
	text-align: center;
	margin: 25px auto;
	width: 362px;
}